#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  overflow: hidden;
}

li {
  background-color: #f9f9f9;
  padding: 8px;
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  overflow: hidden; /* Hide any overflowed content */
  border-radius: 8px;
}

li:hover {
  background: #ececec !important;
  cursor: pointer;
}

.selected-test {
  background-color: #e3e3e3 ; /* Darker background for selected test */
}

.selected-question {
  background-color: #e3e3e3 ; /* Darker background for selected question */
}


a {
  font-weight: 800;
  text-decoration: none;
}

.mainpage {
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  height: 100vh;
  min-width: 100vw;
  padding: 5px;
}

.tests {
  flex: 10; /* Let it take up proportional space */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  height: 100%;
  padding: 8px;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Optional: Style the scrollbar for modern browsers */
  text-align: left;
}

.questions {
  flex: 15; /* Adjust this proportionally */
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Optional: Style the scrollbar for modern browsers */
  text-align: left;
  box-shadow: -10px 0 5px -5px rgba(0, 0, 0, 0.1);
}

.generatequestionbutton {
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: sticky;
  bottom: 0;
}

.questiondetails {
  flex: 45; /* Largest section */
  height: 100%;
  padding: 1px;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Optional: Style the scrollbar for modern browsers */
  box-shadow: -10px 0 5px -5px rgba(0, 0, 0, 0.1);
}

.userinfo {
  flex: 5; /* Smallest section */
  height: 100%;
  padding: 1px;
}

.createtest {
  margin-top: auto;
  padding: 8px;
  /* box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); */
  border-top: 1px solid #D6D6D5;
  position: sticky;
  bottom: 0;
}

.testname {
  width: calc(100% - 5px);
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
}
.testdescription {
  width: calc(100% - 5px);
  height: 20vh;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
}
.testcreatebutton{
  cursor: pointer;
  color: #822cb1;
  text-align: left;
  margin-top: 8px;
}

.questiondetails2{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  height: 100%;
  text-align: left;
  padding: 10px;
}
.useranswer{
  margin-top: auto;
  display: flex;
  position: sticky;
  bottom: 0;
}
.useranswerinput{
  margin: 5px;
  width: 70%;
  height: 100%;
}

.useranswersubmit{
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: sticky;
  bottom: 0;
}